<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atelier de Florine</title>
</head>
<body>
  <header class="header">
    <div class="container-1">
      <h1>Atelier de Florine</h1>
      <div class="container-2">
        <button class="btn-services" (click)="Services()">Services</button>
        <button class="btn-projects" (click)="Projects()">Projets</button>
        <button class="btn-contact" (click)="Contact()">Me contacter</button>
      </div>
    </div>
  </header>

  <div class="container-3">
    <app-services *ngIf="currentComponent === 'services'"></app-services>
    <app-projets *ngIf="currentComponent === 'projects'"></app-projets>
    <app-me-contacter *ngIf="currentComponent === 'contact'"></app-me-contacter>
  </div>

  <footer class="footer">
  </footer>

</body>
</html>
