<h1>Services</h1>
<p>Confier à l'atelier de Florine votre futur projet afin
  de bénéficier de l'expertise d'une architecte d'intérieur
  qui mettra en valeur votre bien.
</p>
<div class="container-1">
  <img src="../../assets/dessin.jpg" alt="Image gauche" class="image-gauche">
  <div class="container-2">
  <!-- Texte au centre -->
    <div class="text-content">
        <h2>Budget</h2>
        <h3>- consultation (gratuite)</h3>
        <h3>- devis</h3>
        <h3>- suivie de chantier</h3>
    </div>
  </div>
  <img src="../../assets/immeuble.jpeg" alt="Image droite" class="image-droite">
</div>
